.product {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 248, 248);
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  z-index: 1;
  border-radius: 15px;
  transition: 0.5s;
}

.product:hover{
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(200,100,255,0.5);
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: rgb(252, 40, 40);
  border: 1px solid;
  margin-top: 10px;
  border-radius: 30px;
  border-color: rgb(252, 40, 40);
  color: #111;
}

.price {
  margin-top: 5px;
}

.info {
  height: 100px;
  margin-bottom: 15px;
  width: 100%;
}

.rating{
display: flex;

}